@media (min-width:320px) and (max-width:575.98px){
/*banner start*/
.banner{
  
    margin-bottom: 5%;
}
/* .banner_content {
    margin: 110px 0 120px;
} */
.banner_content {
    margin: 40% 0 35%;
}
.banner_content h1{
    font-size:35px;

}
.custom_prev{
    left:43%;
}
/*banner end*/
/*about start*/
.about{
    padding:50px 0;
}
.about_content{
    margin-top: 10px;

}
.about_content h1{
    font-size:30px;
}
.about_content button{
    margin-top:10px;
}
/*about end*/
/*gallery start*/
.all_gallery{
    text-align: center;
}
/*gallery end*/
/*new design start*/

.new_prev {
    width: 30px;
    height: 30px;
  
    padding: 0px;
    left: 41%;
    display: inline-block;
    margin-top: 80px;
}
.new_next {
    width: 30px;
    height: 30px;
    
    padding: 0px;
    left: 52%;
    display: inline-block;
    margin-top: 80px;
}

/*new design end*/
/*testimonials start*/
.test_prev{
    top:86%;
    left:0%;
    background-color: chartreuse;

}
.test_next{
    top:86%;
    left:20%;
    
    
}
.test_parent{
    padding:75px 0px;
}
/*testimonials end*/
/*contact start*/
.contact_content{
    margin-bottom: 40px;
}
/*contact end*/

/*footer start*/
.subscribe{
    margin-top:0px;
}
.footer_content{
    margin-bottom: 40px;
   
}
.subscribe input[type="email"] {
    width: 64%;
}
/*footer end*/
}
@media (min-width:576px) and (max-width:767.98px){
/*banner start*/
.banner_content {
    margin: 160px 0 140px;
}
.banner_content h1{
    font-size:45px;

}
.custom_prev{
    left:47%;
}
/*banner end*/
/*about start*/
.about_content{
    margin-top: 10px;
}
.about_content h1{
    font-size:30px;
}
.about_content button{
    margin-top:10px;
}
/*about end*/
/*new design start*/

.new_prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
    left: 45%;
    display: inline-block;
    margin-top: 80px;
}
.new_next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0px;
    left: 52%;
    display: inline-block;
    margin-top: 80px;
}

/*new design end*/
/*testimonials start*/
.test_parent{
    padding: 70px 0px;
}
.test_prev{
    left: 41%;
    top: 87%;
   background-color: chartreuse;
  
}
.test_next{
    left: 52%;
    top: 87%;
}
/*testimonials end*/
/*contact start*/
.contact_content{
    margin-bottom: 40px;
}
/*contact end*/
/*footer start*/
.footer_content{
    margin-bottom: 40px;
}


/*footer end*/
}
@media (min-width:768px) and (max-width:991.98px){
/*banner start*/
.banner_content {
    margin: 155px 0 145px;
}
.banner_content h1{
    font-size:45px;

}
.custom_prev{
    left:48%;
}
/*banner end*/
/*about start*/
.about_content{
    padding:70px 0 35px;
}
.about_content h1{
    font-size:35px;
}
.about_content button{
    margin-top:2px;
}
/*about end*/
/*services start*/
.single h1{
    font-size:25px;
}
/*services end*/
/*design start*/
.design_content{
    margin-top: 5px;
}
.design_content h1{
    font-size:30px;
 }
 .new_prev {
    left: 28%;
    margin-top: 80px;
}
.new_next {
 left:36%;
    margin-top: 80px;
}

/*design end*/
/*testimonial start*/
.test_prev{
    
    left: 74%;
   
    }
    .test_next{
 
    left: 82%;

    }
/*testimonial end*/
/*footer start*/
.footer_content{
    margin-bottom: 40px;
}

/*footer end*/

}
@media (min-width:992px) and (max-width:1199.98px){
/*banner start*/
.banner_content {
    margin: 155px 0 140px;
}
.custom_prev{
    left:49%;
}
/*banner end*/
/*about start*/
.about_content{
    margin-top: 80px;
}
/*about end*/
/*design start*/
.design_content{
    margin-top: 5px;
}
.design_content h1{
    font-size:30px;
 }
 .new_prev {
    left: 29%;
    margin-top: 80px;
}
.new_next {
 left:35%;
    margin-top: 80px;
}

/*design end*/
/*testimonial start*/
.test_prev{
    
    left: 74%;
   
    }
    .test_next{
 
    left: 80%;

    }
/*testimonial end*/
}

@media (min-width:1200px) and (max-width:1399px){
/*design start*/
.design_content{
    margin-top:5px;
}
.new_next {
left:22%;
}
/*design end*/
/*testimonial start*/
.test_prev{
    
    left: 74%;
   
    }
    .test_next{
 
    left: 80%;

    }
/*testimonial end*/
}
@media (min-width:1400px){



}

/*custom media*/

@media (min-width:320px) and (max-width:400px) {
    .banner_content {
        margin: 50% 0 45%;
    }
}