body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
scroll-behavior: smooth;

}
.menu ul{
margin-left:auto;
margin-right:0!important;
}
.menu ul li{
    text-align: end;
}
.menu ul li:last-child a{
    padding-right:0!important;
}
/*banner start*/
.banner{
    background-image: url('images/slider.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner_content{
    margin:205px 0 190px;
}
.banner_content h1{
    font-size:65px;
    color:black;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.banner_content p{
    font-size:17px;
    color:white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.banner_content button{
    width:200px;
    height:50px;
    background-color: white;
    border:none;
    border-radius:30px;
    font-weight: bold;
    color:black;
    font-family: 'Poppins', sans-serif;
}
.custom_prev{
    top: 97%;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: #16e816;
    color: white;
    left: 50%;
    border-radius: 50%;
    opacity: 1;
    padding:4px;
}

.custom_next{
    top:95%;
    left:53%;
bottom: 0;
width: 50px;
height: 50px;
background-color: black;
opacity: 1;
color: white;
border-radius: 50%;
padding:4px;
}
/*bannner end*/
/*about start*/
.about{
padding:100px 0 50px;
}
.about_content{
margin-top:106px;
}
.about_content h1{
    font-family: 'Poppins', sans-serif;
    font-size:50px;
    font-weight: bold;

}
.about_content span{
    color:#16e816;
}
.about_content p{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: 400;
    color:#cbcaca;

}
.about_content button{
    width:200px;
    height:40px;
    background-color: #333;
    color:white;
    border:none;
    margin-top: 40px;
}


/*about end*/
/*services start=*/
.services{
padding:100px 0;

}
.service_title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:black;

text-align: center;
}
.service_title span{
    color:#16e816;
}
.service_btn{
    width:200px;
    height:40px;
    background-color: #333;
    color:white;
    border:none;
    margin-top: 40px;
}
.blocks{

    padding:80px 0 70px;
}
.single{
text-align: center;
}
.single h1{
font-size:30px;
font-weight: bold;
margin:15px 0;
font-family: 'Poppins', sans-serif;
}
.single p{

}


/*services end=*/
/*gallery start*/
.gallery{
background-color: hsl(0, 7%, 91%);

}
.single_gallery{
position: relative;
margin-bottom: 30px;
overflow: hidden;
transition: 0.34s;
}
.effect {
    position: absolute;
    top: 0;
 
    left: 0;
    right:0;
    background: #59d41f66;
   
    transition: 0.33s;
}
/* .single_gallery:hover .effect{
    bottom:0;
    transition: 0.34s;
} */

.gallery_content {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    color: #dedbdb;
    text-align: center;
    margin-top:40px;
   
}
.gallery_title{
    margin:50px 0;
    text-align: center;
}
.gallery_title h1{
    font-family: 'Poppins', sans-serif;
    font-size:50px;
    font-weight: bold;
}
.gallery_title span{
    color:#16e816;
}
.gallery_title p{
    color:gray;
}

/*gallery end*/
/*New Design start*/
.new_design{
    padding:100px 0px;
}
.design_content {
    margin-top: 60px;
}
.design_content h1{
    font-family: 'Poppins', sans-serif;
    font-size:50px;
    font-weight: bold;
}
.design_content h1 span{
    color:#16e816;
}
.design_image{}
.design_all{
    justify-content: end;
}
.new_prev {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    opacity: 1;
    bottom: 0;
    top: 80%;
    left: 17%;
}
.new_next{
    width:50px;
    height:50px;
    background-color:#16e816;
    color:white;
    opacity: 1;
    top:80%;
    left:21%;
}
/*New Design end*/
/*testimonils start*/
.testimonial{
padding:50px 0px;
}
.test_parent{
background-color:#343434;
color:#b8b8b8;
padding: 50px 0px;
}
.single_testimonial{
    position: relative;
border:1px solid #16e816;
padding: 0px 15px;
border-radius: 5px;
}
.single_testimonial img {
    transform: translate(25px,-38px);
    width: 90px;
    height: 90px;
}
.custom_con{
    padding:0;
}
.test_prev{
width:50px;
height:50px;
background-color:#343434;
color:white;
left: 76%;
top: 63%;
opacity: 1;
}
.test_next{
width:50px;
height:50px;
background-color:#16e816;
color:white;
left: 80%;
top: 63%;
opacity: 1;

}
/*testimonils end*/
/*contact start*/
.contact{
   position: relative;
    margin:80px 0px;
    padding:100px 0px;
 background-image:url('images/contact.jpg');

 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
}
.contact_content h1{
    color:white;

}
input.cutom_send {
    margin-top:30px;
    width: 150px;
    height: 37px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 17px;
    padding: 2px;
    
}

/*contact end*/
/*footer start*/
footer{
    margin-top: 80px;
    background-color: #202020;
    color:white;
    font-family: 'Poppins', sans-serif;
}
.footer{
    padding:80px 0px;
}
.footer_content h1{
font-size:25px;
font-family: 'Poppins', sans-serif;
margin-bottom: 10px;
}


 

ul.icons{
padding-left: 0px;

}
ul.icons li {
    list-style: none;
    width: 40px;
    display: inline-block;
    padding: 8px 0px;
    border-radius: 50%;
    color: black;
    background-color: white;
    margin-right: 10px;
    text-align: center;
}
.footer_content p{
    line-height: 28px;
}
ul.useful{
    padding-left:0px;
}
ul.useful li{
    margin:4px 0px;
    list-style: none;
}
ul.useful li a{
    text-decoration: none;
    color:white;
}

.footer_bottom{
    font-weight: bold;
    padding-right:0px;
    padding-left:0px;
    background-color: white;
    color:black;
    text-align: center;
    padding: 10px 0px;
}
.subscribe{
    margin-top:50px;
}
.subscribe input[type="email"] {
    width: 75%;
    height: 40px;
    background: transparent;
    border-right: 0;
    color:white;
    border-bottom: 1px solid white;
}
.subscribe input[type="email"]::placeholder{
    color:white;
font-weight: 400;
font-family: 'Poppins', sans-serif;
}
.subscribe input[type="email"]:focus{
    
    outline: none;
border-bottom: 1px solid white;
}
input[type="submit"] {
    background: transparent;
    /* border: none; */
    border: 1px solid white;
    height: 38px;
    color: white;
    width: 100px;
}

/*footer end*/